<a href="https://colab.research.google.com/github/renatagsr/aprendizado_python/blob/master/Machine_learning_utilizando_dados_sobre_vinhos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

arquivo = pd.read_csv('/content/wine_dataset.csv')
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [3]:
arquivo['style'] = arquivo['style'].replace('red', 0)
arquivo['style'] = arquivo['style'].replace('white', 1)

In [4]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0
3           11.2              0.28         0.56  ...      9.8        6      0
4            7.4              0.70         0.00  ...      9.4        5      0

[5 rows x 13 columns]

In [5]:
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

Dessa forma a variável y recebe toda a coluna de "style" e a variável x vai receber todo o data frame exceto a coluna "style".

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [8]:
from sklearn.ensemble import  ExtraTreesClassifier

In [10]:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print(f'Acurácia: {resultado}')

Acurácia: 0.9933333333333333

In [11]:
y_teste[400:403]

362     0
3237    1
2065    1
Name: style, dtype: int64

In [12]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
362            11.9              0.58         0.66  ...       0.56     10.0        5
3237            7.6              0.47         0.49  ...       0.51      9.2        5
2065            7.0              0.14         0.32  ...       0.43      9.4        6

[3 rows x 12 columns]

In [13]:
previsoes = modelo.predict(x_teste[400:403])
previsoes

array([0, 1, 1])

Comparando o resultado gerado pelas previsões com o resultado do y_teste, percebe-se que os valores são iguais, isso quer dizer que o modelo preveu corretamente.